
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bangers&family=Chakra+Petch&family=Josefin+Slab:ital,wght@1,600&family=Silkscreen:wght@700&display=swap');
body {
    font-family: 'Abril Fatface', cursive;
}

/**
.titulo {
    color: blue;
    width: 310px;
    height: 50px;
    background-color: beige;
}
**/
.subtitulo {
    color: aliceblue;
    font-size: 30px;
    background-color:forestgreen;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: double;
    border-color: rgb(216, 8, 18);
}

.tarjetas {
    display: flex;
    gap: 20px;
}

.tarjeta-mokepon {
    width: 180px;
    height: 100px;
    background: linear-gradient(30deg, #ffd999 0, #ffdd95 7.14%, #ffe192 14.29%, #ffe591 21.43%, #f9e892 28.57%, #edec94 35.71%, #e1ef98 42.86%, #d5f29d 50%, #c8f5a4 57.14%, #bbf7ac 64.29%, #aef9b4 71.43%, #a0fbbe 78.57%, #93fcc9 85.71%, #85fdd4 92.86%, #76fedf 100%);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(14, 13, 13);
}

.tarjeta-mokepon img {
    width: 50px;
}

/* Sombreado cuando el botón esté seleccionado/enfocado 
.tarjeta-mokepon:focus {
    box-shadow: 0 0 0 2px rgb(10, 14, 248), 0 0 0 4px rgb(226, 87, 6);
}*/

/* Background y sombra más oscuro en estado activo
.tarjeta-mokepon:active {
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(20, 172, 83);
} */

 input[type="radio"]:checked + label { box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(235, 70, 5); }

input {
    display:none;
}

button {
    background-color: rgb(81, 223, 88);
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid;
    margin-top: 30px;
    font-family: 'Silkscreen', cursive;
}


#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: double;
    border-color: rgb(216, 8, 18);
}

.boton-de-ataque {
  background-color: #11468F;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: transparent;
  width: 180px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: large;
}

.boton-de-ataque:active {
  background-color: gold;
  transition: 0.07s;
}

.boton-de-ataque:disabled {
  background-color: gray;
}

#mensajes {
    width: 280px;
    background-image: radial-gradient(circle at -18.3% 31.7%, #fffef7 0, #fdf9ef 7.14%, #fbf4e7 14.29%, #f9edde 21.43%, #f7e6d4 28.57%, #f5ddca 35.71%, #f4d4bf 42.86%, #f2c9b5 50%, #f0beac 57.14%, #efb4a5 64.29%, #edaba1 71.43%, #eba29f 78.57%, #e99a9f 85.71%, #e694a0 92.86%, #e38ea3 100%);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction:column;
  }
  
  .cajaMensajes{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #nameAtaque{
font: 50px;
font-family: 'Chakra Petch', sans-serif;
  }

#boton-reiniciar {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid;
    margin-top: 30px;
    font-family: 'Silkscreen', cursive;
}

.nameAtaques{
    font-size: large;
  }
  
  #vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
  }
  
  .ataques{
    height:auto ;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;

  }

  .selectivos{
    font-size: xx-large;
    color: black;
    font-family: 'Bangers', cursive;
  }

  .ataques-jugador, .ataques-enemigo {
    background: rgb(58,180,166);
    background: linear-gradient(90deg, rgba(58,180,166,1) 0%, rgba(117,182,23,1) 56%, rgba(252,176,69,1) 92%);
    border-style: dashed;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
    font-size: 30px;    
  }

  .vidas-enemigo, .vidas-jugador {
    font-size: 45px;
  }

  .losAtaques{
   justify-content: center;
    font-size: 20px;
    color: brown;
    font-family: 'Josefin Slab', serif;
  }